@import "../../theme/utils.scss";

.list {
    overflow: auto;
    .list_row {
        position: relative;
        border-bottom: sp(1) solid var(--color-border);
        &:last-of-type {
            border: none;
        }
    }
}
