@import "../../theme/utils";
.tabs {
    height: 100%;

    &-bar {
        height: sp(48);
        min-height: sp(48);
        display: flex;
        border-bottom: sp(1) solid var(--color-border);
        padding: 0 sp(24);
        .tab {
            display: flex;
            height: 100%;
            margin-right: sp(24);
            align-items: center;
            justify-content: center;
            border-bottom: sp(2) solid transparent;
            cursor: pointer;
            transition: 150ms border, 150ms color;
            color: var(--color-text-secondary);
            &:hover {
                color: var(--color-text);
            }
            &.selected {
                border-color: var(--color-primary);
                color: var(--color-primary);
            }
        }
    }
}
