@import "../../theme/utils";
@import "../../theme/tokens";
.picker {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    -webkit-touch-action: none;
    touch-action: none;
    width: max-content;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .item {
        flex-grow: 1;
        text-align: center;
        color: rgba(25, 39, 51, 0.4);
        transition: background 150ms, color 150ms, border 150ms;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: sp(6) sp(24);
        border: 1px solid var(--color-border);
        border-left: none;
        border-right: none;
        .text {
            color: var(--color-primary);
        }
        &:last-of-type {
            border-right: 1px solid var(--color-border);
            border-radius: 0 sp(6) sp(6) 0;
        }
        &:first-of-type {
            border-left: 1px solid var(--color-border);
            border-radius: sp(6) 0 0 sp(6);
        }

        &:hover {
            border-color: var(--color-border-hover);
            background: var(--color-hover);
        }

        &:active {
            background: var(--color-active);
            border-color: var(--color-border-hover);
        }

        &.selected {
            border-color: var(--color-primary);
            background: var(--color-primary);
            .text {
                color: white;
            }
        }

    }
    .radio {
        overflow: hidden;
        label {
            cursor: pointer;
        }
        input[type="radio"] {
            cursor: pointer;
            margin: 0;
            -moz-appearance: none;
            appearance: none;
            background: none;
            width: sp(20);
            height: sp(20);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid var(--color-border);
            &:hover {
                border: 2px solid var(--color-border-hover);
            }
            &:focus {
                box-shadow: 0 0 0 2px var(--color-focus);
            }
            &:checked {
                background: var(--color-primary);
                &::after {
                    display: block;
                    content: "";
                    width: sp(6);
                    height: sp(6);
                    border-radius: 4px;
                    background: white;
                }
            }
        }
    }
    .dropdown {
        position: relative;
        background: var(--surface);
        border-radius: sp(8);
        border: sp(2) solid transparent;
        overflow: hidden;
        overflow-y: auto;
        select {
            -moz-appearance: none;
            appearance: none;
            background: none;
            border: none;
            padding: sp(8) sp(24) sp(8) sp(12);
            font-size: sp(16);
            font-family: Inter, sans-serif;
            color: var(--color-text);
            font-weight: $fw-normal;
            outline: none;
            option {
                -moz-appearance: none;
                appearance: none;
                background: var(--surface-dark);
                color: black;
                font-weight: $fw-normal;
                font-size: sp(16);
                &:hover {
                    color: white;
                }
                &.selected {
                    color: white;
                }
            }
        }
        &::after {
            /* Le pointeur du select */
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -3px;
            right: .75em;
            display: block;
            width: 0; height: 0;
            border-color: transparent;
            border-top-color: #444;
            border-width: 6px;
            border-style: solid;
            pointer-events: none;
        }
    }
}

