.card {
    border-radius: 8px;
    border: 1px solid var(--color-border);

    .card {
        border: none;
        background: var(--surface);
        .card {
            border: 1px solid var(--color-border-hover);
            background: var(--background);
            box-shadow: 0 4px 8px 0 var(--color-shadow);
        }
    }
}
