.navigation_button {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 16px;
    align-items: center;
    cursor: pointer;
    &:hover {
        background: var(--color-hover);
    }
}
