.navigation_view {
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "sidebar header" "sidebar body";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;

    .navigation_bar {
        grid-area: header;
    }

    .main {
        height: 100%;
        overflow: auto;
        grid-area: body;
    }
}
