button {
    font-size: 1.6rem;
    border: none;
    border-radius: 8px;
    background: #4a6dff;
    color: white;
    padding: 8px 24px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    &.icon_button {
        padding: 8px 24px 8px 16px;
        .icon svg {
            margin-right: 8px;
        }
    }
}
