.list {
    .list_row {
        padding: 8px 16px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 16px;
            right: 0;
            height: 1px;
            background: #eaeaea;
        }

        &:hover {
            background: #f3f3f3;
        }
    }
}
