.stack {
    display: flex;

    &.vertical {
        flex-direction: column;
        height: 100%;
    }

    &.horizontal {
        flex-direction: row;
        &>* {
            width: 100%;
        }
    }
}
