.text {
    font-family: Inter, sans-serif;

    &.uppercase {
        text-transform: uppercase;
    }

    &.label {
        font-weight: 600;
        font-size: 1.4rem;
    }

    &.body {
        font-weight: 400;
        font-size: 1.6rem;
    }

    &.large_title {
        font-size: 2.8rem;
        font-weight: 800;
    }

    &.subheadline {
        color: #454545;
        font-size: 1.2rem;
    }
    &.tag {
        padding: 4px 8px;
        background: rgba(74, 109, 255, 0.13);
        color: rgb(74, 109, 255);
        border-radius: 20px;
        font-size: 1.2rem;
    }
}
