@use "sass:color";

@mixin colors($variant) {
    $primary-color: #1d5dea;
    $surface: #000000;

    @if $variant == light {
        --blurred-background: blur(30px);
        --color-primary: #{$primary-color};
        --color-primary-light: #{color.adjust($primary-color, $lightness: -15%)};
        --color-primary-lighter: #{color.adjust($primary-color, $lightness: -30%)};
        --surface-blue: #{color.adjust($primary-color, $alpha: -0.85)};
        --color-border-blue: #{color.adjust($primary-color, $alpha: -0.25)};
        --background: white;
        --background-raised: white;
        --surface: #{color.adjust($surface, $alpha: -0.95)};
        --surface-dark: #{color.adjust($surface, $alpha: -0.8)};
        --backdrop: #{color.adjust($surface, $alpha: -0.5)};
        --color-text: #1d1d20;
        --color-text-secondary: #5d5d5d;
        --color-border: rgba(0, 0, 0, 0.1);
        --color-border-hover: rgba(0, 0, 0, 0.13);
        --color-hover: rgba(0, 0, 0, 0.04);
        --color-active: rgba(0, 0, 0, 0.06);
        --color-focus: #1d5dea99;
        --color-shadow: rgba(0, 0, 0, 0.1);
        --color-success: #3DA144;
        --color-error: #EF5A70;
        --color-warning: #D86F48;
        --color-text-disabled: #868694;
    }
    @else if $variant == dark {
        --blurred-background: blur(30px) brightness(50%);
        --color-primary: #0a84ff;
        --color-primary-light: #3399ff;
        --color-primary-lighter: #4da6ff;
        --surface-blue: #0a84ff11;
        --color-border-blue: #0a84ff33;
        --background: #161616;
        --background-raised: #4f4e53;
        --surface: rgba(255, 255, 255, 0.05);
        --surface-dark: rgba(0, 0, 0, 0.3);
        --backdrop: rgba(0, 0, 0, 0.5);
        --color-text: #f0f0ff;
        --color-text-secondary: #b1b1bc;
        --color-border: rgba(255, 255, 255, 0.05);
        --color-border-hover: rgba(255, 255, 255, 0.07);
        --color-hover: rgba(255, 255, 255, 0.03);
        --color-active: rgba(255, 255, 255, 0.05);
        --color-focus: #0a84ff66;
        --color-shadow: rgba(0, 0, 0, 0.1);
        --color-success: #3DA144;
        --color-error: #EF5A70;
        --color-warning: #D86F48;
        --color-text-disabled: #6e6e73;
    }

}
