button {
    font-size: 1.6rem;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;

    &.flat {
        border: none;
        background: transparent;
        padding: 8px 12px;
        .text {
            color: var(--color-900);
        }
        &:hover {
            background: var(--color-100);
        }
        &:active {
            background: var(--color-200);
        }
    }

    &.outlined {
        background: transparent;
        border: 1px solid var(--color-border);
        .text {
            color: var(--color-primary);
        }
        &:hover {
            background: var(--color-hover);
            border: 1px solid var(--color-border);
        }

        &:active {
            background: var(--color-active);
            border: 1px solid var(--color-border);
        }
    }

    &.filled{
        background: var(--color-900);
        border: none;
        .text {
            color: white;
        }
        &:hover {
            background: var(--color-800);
        }
        &:active {
            background: var(--color-900);
        }
    }
}
