button {
    font-size: 1.6rem;
    border: none;
    border-radius: 8px;
    background: var(--color-primary);
    padding: 8px 24px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    .text {
        color: white;
    }

    &:hover {
        background: var(--color-primary-lighter);;
    }

    &.icon_button {
        padding: 8px 24px 8px 16px;
        .icon svg {
            margin-right: 8px;
        }
    }
    &.text {
        background: none;
        padding: 0;
        .text {
            color: var(--color-primary);
        }

        &:hover {
            background: none;
            color: var(--color-primary-lighter);
        }
    }
}
