button {
    font-size: 1.6rem;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    box-sizing: border-box;
    transition: background 150ms, color 150ms, border 150ms;

    .text {
        color: var(--color-primary);
    }

    &.link {
        padding: 8px 0;
        border: none;
        background: transparent;
        &:hover .text {
            color: var(--color-primary-lighter);
        }
        &:active .text {
            color: var(--color-primary-lighter);
        }
    }

    &.flat {
        border: none;
        background: transparent;
        &:hover {
            background: var(--color-hover);
        }

        &:active {
            background: var(--color-active);
        }
    }

    &.outlined {
        background: transparent;
        border: 1px solid var(--color-border);
        &:hover {
            background: var(--color-hover);
            border: 1px solid var(--color-border-hover);
        }

        &:active {
            background: var(--color-active);
            border: 1px solid var(--color-border-hover);
        }
    }
    &.filled{
        color: white;
        background: var(--color-primary);
        border: none;
        .text {
            color: white;
        }
        &:hover {
            background: var(--color-primary-light);
        }
        &:active {
            background: var(--color-primary-lighter);
        }
    }
}
