.segment {
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    display: flex;
    -webkit-touch-action: none;

    .item {
        flex-grow: 1;
        text-align: center;
        color: rgba(25, 39, 51, 0.4);
        transition: background 150ms, color 150ms, border 150ms;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 32px;
        border: 1px solid var(--color-border);
        border-left: none;
        border-right: none;
        .text {
            color: var(--color-primary);
        }
        &:last-of-type {
            border-right: 1px solid var(--color-border);
            border-radius: 0 6px 6px 0;
        }
        &:first-of-type {
            border-left: 1px solid var(--color-border);
            border-radius: 6px 0 0 6px;
        }

        &:hover {
            border-color: var(--color-border-hover);
            background: var(--color-hover);
        }

        &:active {
            background: var(--color-active);
            border-color: var(--color-border-hover);
        }

        &.selected {
            border-color: var(--color-primary);
            background: var(--color-primary);
            .text {
                color: white;
            }
        }

    }
}
