.segment {
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    display: flex;
    -webkit-touch-action: none;
    border: 1px solid #4a6dff55;

    .item {
        flex-grow: 1;
        text-align: center;
        color: rgba(25, 39, 51, 0.4);
        transition: background 150ms, color 150ms;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 32px;
        .text {
            color: #4a6dff;
        }
        &:last-of-type {
            border-right: none;
        }

        &:hover {
            background: transparentize(#4a6dff, 0.9);
        }

        &.selected {
            background: #4a6dff;
            .text {
                color: white;
            }
        }

    }
}
