.text {
    font-family: Inter, sans-serif;
    color: var(--color-text);

    &.large_title {
        font-size: 3.2rem;
        line-height: 3.9rem;
        font-weight: 800;
        letter-spacing: 0.011rem;
    }

    &.title1 {
        font-size: 2.6rem;
        line-height: 3.2rem;
        font-weight: 700;
        letter-spacing: 0.013rem;
    }

    &.title2 {
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 700;
        letter-spacing: 0.016rem;
    }

    &.title3 {
        font-size: 1.8rem;
        line-height: 2.3rem;
        font-weight: 700;
        letter-spacing: 0.019rem;
    }

    &.headline {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        letter-spacing: -0.024rem;
    }

    &.button {
        font-size: 1.4rem;
        line-height: 2rem;
        letter-spacing: 0.024rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    &.body {
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: -0.024rem;
    }

    &.callout {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.9rem;
        letter-spacing: -0.020rem;
    }

    &.subhead {
        font-size: 1.3rem;
        line-height: 1.8rem;
        letter-spacing: 0.016rem;
    }

    &.footnote {
        font-size: 1.2rem;
        line-height: 1.6rem;
        letter-spacing: -0.006rem;
    }

    &.caption1 {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }

    &.caption2 {
        font-size: 1.1rem;
        line-height: 1.3rem;
        letter-spacing: 0.006rem;
    }
}
