.text_field {
    padding: 8px 16px;
    background: var(--background-raised);
    border-radius: 8px;
    font-size: 1.4rem;
    border: 2px solid transparent;
    resize: vertical;
    font-family: Inter, sans-serif;
    overflow: hidden;
    color: var(--color-text);
    font-weight: 500;

    &:focus {
        border: 2px solid var(--color-primary);
    }
}
