@import "../../theme/utils.scss";

.navigation-bar {
    border-bottom: sp(1) solid var(--color-border);
    background: var(--background);
    padding: sp(16);
    position: sticky;
    top: 0;
    z-index: 10;
    box-sizing: border-box;
}

