
.navigation_bar {
    border-bottom: 1px solid var(--color-border);
    background: var(--surface-dark);
    padding: 16px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-sizing: border-box;
    backdrop-filter: var(--blurred-background);


    .button_back {
        padding: 0;

        .icon svg {
            margin-right: -8px;
            margin-left: -8px;
        }

        &.supplemented::after {
            content: "";
            background: var(--color-text-secondary);
            width: 4px;
            height: 4px;
            margin-left: 16px;
            margin-right: 16px;
            border-radius: 4px;
        }
    }
    .titlebar_title {
        margin-top: 8px;
    }
}

