.view {
    box-sizing: border-box;
    display: block;
    &.clickable {
        cursor: pointer;
        user-select: none;
        transition: background 150ms;
        &:hover {
            background: var(--color-hover);
        }
        &:active {
            background: var(--color-active);
        }
    }
}
