#modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--surface-dark);
    .modal-view {
        pointer-events: all;
        max-width: 350px;
        margin: auto;
        background: var(--background-raised);
        border-radius: 16px;
        overflow: hidden;
        .footer {
            padding: 24px;
        }
    }
}
