@import "../../theme/utils";
@import "../../theme/tokens";
.text_field {
    padding: sp(8) sp(12);
    background: var(--surface);
    border-radius: sp(8);
    font-size: sp(16);
    border: sp(2) solid transparent;
    resize: vertical;
    font-family: Inter, sans-serif;
    overflow: hidden;
    overflow-y: auto;
    color: var(--color-text);
    font-weight: $fw-normal;
    outline: none;
    &.type-textarea {
        padding: sp(12);
    }
    &:focus {
        border: sp(2) solid var(--color-primary);
    }
}
