@import "../../utils";
.text_field {
    padding: 8px 16px;
    background: var(--surface);
    border-radius: 8px;
    font-size: sp(16);
    border: 2px solid transparent;
    resize: vertical;
    font-family: Inter, sans-serif;
    overflow: hidden;
    overflow-y: auto;
    color: var(--color-text);
    font-weight: 500;
    &.type-textarea {
        padding: 16px;
    }
    &:focus {
        border: 2px solid var(--color-primary);
    }
}
