@import "theme/utils";
@import "theme/tokens";
@import "theme/colors";

html {
    text-rendering: optimizeLegibility;
}
body {
    margin: 0;
    font-size: sp(14);
    @media (prefers-color-scheme: light) {
        @include colors(light);
    }
    @media (prefers-color-scheme: dark) {
        @include colors(dark);
    }
    background: var(--background);
}

.rootView {
    height: 100vh;
}


