.stack {
    display: flex;

    &.vertical {
        flex-direction: column;
        &.reversed {
            flex-flow: column-reverse;
        }
    }

    &.horizontal {
        flex-direction: row;
        align-items: center;
        &.reversed {
            flex-flow: row-reverse;
        }
    }
}
